body {
    width: 80%;
    margin: auto;
}

table, td, th {
    margin: auto;
    border: 1px solid black;
    border-collapse: collapse;
}

p{
    text-align: justify;
    line-height: 1.5em;
    text-indent: 20px;
}

h2{
    font-size: 30px;
    font-variant: small-caps;
    font-style: italic;
    letter-spacing: 4px;
    font-family: 'Gill Sans', Calibri ;
    color: white;
    background-color: rgba(200, 0, 0, 80%);


}

h1{
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline dashed;
}

span, li{
    font-weight: bold;
}

a{
    text-decoration: none;
}

#francia{
    color: #002395;
    font-size: 175%;
}

body p {
    text-align: center;
}