#labda{
    font-weight: bold;
    font-style: italic;
}

h1{
    font-weight: normal;
    text-align: center;
    text-decoration: 1px underline green wavy ;
    
}

a{
    color: black;
    text-decoration: none;
    background-color: brown;
    display: block;
    margin: auto;
    width: fit-content;
    padding: 10px

}

p{
    font-size: 8px;
}

#foci{
    color: red;
    /* font-size: 200%; */
    font-size: 2em;
    /* kiemelt egység EM: aktuális betűmérethez képes */
    /* width: 0.4em; */
    display: inline-block;
    width: 40%;
    background-color: lightblue;
}

html{
    font-size: 20px;
}

#labdajatek{
    color: blue;
    /*  rem: root ephemeral  */
    /* HTML elem */
    font-size: 2rem;
}

#usa{
    font-variant: small-caps;
}

#ifa{
    color: purple;
    font-family: 'Rubik Iso', cursive;

}

p {
    margin: 40px 0px;
}
/* sorköz */
#masodik{
    line-height: 1.5em;
    text-align:center;

}

#sport{
    letter-spacing: 2em;
    
}

#fifa{
    /* kisbetus nagybetus nagy kezdobetu  */
    text-transform: uppercase;
    
}