#labda{
    font-weight: bold;
    font-style: italic;
}

h1{
    font-weight: normal;
}

p{
    font-size: 8px;
}

#foci{
    color: red;
    /* font-size: 200%; */
    font-size: 2em;
    /* kiemelt egység EM: aktuális betűmérethez képes */
    /* width: 0.4em; */
    display: inline-block;
    width: 40%;
    background-color: lightblue;
}

html{
    font-size: 20px;
}

#labdajatek{
    color: blue;
    /*  rem: root ephemeral  */
    /* HTML elem */
    font-size: 2rem;
}

#usa{
    font-variant: small-caps;
}

#ifa{
    color: purple;
    font-family: 'Rubik Iso', cursive;

}
