body{
    background-color: rgb(0, 128, 0, 30%);
}

#F{
    cursor:pointer;
    margin-top: 10px;
    background-color: lightblue;
    height: 40px;
    width: 100px;
    border: 1px solid black;
    box-shadow : 3px 5px blue ;
    margin-left: 10px;
}

#L{
    margin-top: 17px;
    background-color: lightblue;
    height: 40px;
    width: 100px;
    border: 1px solid black;
    margin-left: 10px;
    box-shadow: 0px 0px 40px  rgb(226, 109, 0);
    cursor: progress;
}

/* #book{
    display: inline;
    width: 200px;
    float: right;
    
} */

#szöveg{
    /* text-indent:  10px; */
    text-shadow: 0.5px 0.5px grey;
}

ul{
    background-color: lightcoral;    
    padding: 0px;
}

li{
    padding: 8px ;
    background-color: rgb(197, 230, 241);
    margin-bottom:10px ;
    list-style: circle;
    /* disk circle square */
    /* list-style-type: "nem"; */
    list-style-position:inside ;
    
}

a{
    background-color: rgb(231, 231, 12);
    margin: auto;
    text-align: center;
    width: 240px;
    height: fit-content;
    padding: 30px;
    border: 2px solid black;
    margin-bottom: 10px;
    display: block;
    text-decoration: none;
    font-size: 18px;
}

a:link{
    color: black;
}

a:active{
    background-color: red;
}

a:hover{
    opacity: 70%;
    text-decoration: underline;
    border: 2px dashed red;
}

a:visited{
    color: green;
}

#táblázat{
    background-color: white;
    margin: 0px;
    margin: auto;
    border: 1px solid black;
    padding: 0px;
    margin-bottom: 40px;

}
 
    tr{
        padding: 0px;
        margin: 0px;
    }

 table{
    border: 1px solid black;
    margin: 20px auto; 
    text-align: center;
    border-spacing: 5px;
    border-collapse: collapse;
    padding: 13px 60px;
    
    
}

td,th{
    border: 1px solid black;
    /* padding: 20px; */
    height: 50px;
    width: 170px;
    text-align: center;
    vertical-align: auto;
}

body{
    background-image: url(egyebek/fruit_salad.png), url(egyebek/books.png);
    background-repeat: repeat-x, no-repeat;
    background-position: bottom center , right top;
    background-size: 50px, 101px;
    background-attachment: scroll, fixed;
}